@model IEnumerable<CarreraEPCTDSII.Models.Entidades.OCompraCabCarrera>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="text-dark">
                                <i class="nav-icon fas fa-list">
                                </i>
                            </span>
                            Listado De Sucursales
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <a class="btn btn-success btn-sm" role="button" asp-action="Create" asp-controller="Sucursal">
                                    <i class="fa fa-plus text-white"></i>
                                </a>
                            </div>
                            <div class="col-4">
                            </div>
                            <div class="col-5">
                            </div>
                        </div>
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                                <tr class="table-info">
                                    <th><center><strong>ID</strong></center></th>
                                    <th><center><strong>Nombre</strong></center></th>
                                    <th><center><strong>Registro</strong></center></th>
                                    <th><center><strong>Opciones</strong></center></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@item.IdOCompraCab</td>
                                        <td align="center">@item.Proveedor</td>
                                        <td align="center">@item.FechaRegistro</td>
                                        <td align="center">
                                            <a class="btn btn-info btn-sm" role="button" asp-action="Edit" asp-controller="Sucursal" asp-route-id="@item.IdOCompraCab">
                                                <i class="far fa-edit text-white"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm" role="button" asp-action="Detail" asp-controller="Sucursal" asp-route-id="@item.IdOCompraCab">
                                                <i class="fa fa-eye text-white"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm delete-sucursal" data-idsucursal="@item.IdOCompraCab" data-nombresucursal="@item.Proveedor">
                                                <i class="fa fa-trash text-white"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>